
.icon-location:before { content: '\e800'; } /* '' */
.icon-doc-text:before { content: '\e801'; } /* '' */
.icon-download:before { content: '\e802'; } /* '' */
.icon-download-cloud:before { content: '\e803'; } /* '' */
.icon-down-circled2:before { content: '\e804'; } /* '' */
.icon-location-circled:before { content: '\e805'; } /* '' */
.icon-location-1:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-minus:before { content: '\e808'; } /* '' */
.icon-right-open:before { content: '\e809'; } /* '' */
.icon-left-open:before { content: '\e80a'; } /* '' */
.icon-down-open:before { content: '\e80b'; } /* '' */
.icon-up-open:before { content: '\e80c'; } /* '' */
.icon-up-circled2:before { content: '\e80d'; } /* '' */
.icon-zoom-in:before { content: '\e80e'; } /* '' */
.icon-zoom-out:before { content: '\e80f'; } /* '' */
.icon-calendar:before { content: '\e810'; } /* '' */
.icon-trash-empty:before { content: '\e811'; } /* '' */
.icon-pencil:before { content: '\e812'; } /* '' */
.icon-edit:before { content: '\e813'; } /* '' */
.icon-print:before { content: '\e814'; } /* '' */
.icon-retweet:before { content: '\e815'; } /* '' */
.icon-chat:before { content: '\e816'; } /* '' */
.icon-comment:before { content: '\e817'; } /* '' */
.icon-tags:before { content: '\e818'; } /* '' */
.icon-thumbs-up:before { content: '\e819'; } /* '' */
.icon-thumbs-down:before { content: '\e81a'; } /* '' */
.icon-upload:before { content: '\e81b'; } /* '' */
.icon-link:before { content: '\e81c'; } /* '' */
.icon-ok:before { content: '\e81d'; } /* '' */
.icon-ok-circled:before { content: '\e81e'; } /* '' */
.icon-cancel:before { content: '\e81f'; } /* '' */
.icon-cancel-circled:before { content: '\e820'; } /* '' */
.icon-plus:before { content: '\e821'; } /* '' */
.icon-attach:before { content: '\e822'; } /* '' */
.icon-mail-1:before { content: '\e823'; } /* '' */
.icon-heart:before { content: '\e824'; } /* '' */
.icon-heart-empty:before { content: '\e825'; } /* '' */
.icon-star:before { content: '\e826'; } /* '' */
.icon-star-empty:before { content: '\e827'; } /* '' */
.icon-star-half:before { content: '\e828'; } /* '' */
.icon-picture:before { content: '\e829'; } /* '' */
.icon-camera:before { content: '\e82a'; } /* '' */
.icon-camera-alt:before { content: '\e82b'; } /* '' */
.icon-th-list:before { content: '\e82c'; } /* '' */
.icon-th:before { content: '\e82d'; } /* '' */
.icon-th-large:before { content: '\e82e'; } /* '' */
.icon-help-circled:before { content: '\e82f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-tag:before { content: '\e833'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-eye-off:before { content: '\e835'; } /* '' */
.icon-eye:before { content: '\e836'; } /* '' */
.icon-pin:before { content: '\e837'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-lock-open:before { content: '\e83a'; } /* '' */
.icon-lock:before { content: '\e83b'; } /* '' */
.icon-forward:before { content: '\e83c'; } /* '' */
.icon-bell:before { content: '\e83d'; } /* '' */
.icon-attention:before { content: '\e83e'; } /* '' */
.icon-attention-circled:before { content: '\e83f'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-opera:before { content: '\e842'; } /* '' */
.icon-ie:before { content: '\e843'; } /* '' */
.icon-folder:before { content: '\e844'; } /* '' */
.icon-folder-open:before { content: '\e845'; } /* '' */
.icon-phone:before { content: '\e846'; } /* '' */
.icon-cog:before { content: '\e847'; } /* '' */
.icon-cog-alt:before { content: '\e848'; } /* '' */
.icon-clock:before { content: '\e849'; } /* '' */
.icon-resize-small:before { content: '\e84a'; } /* '' */
.icon-resize-full:before { content: '\e84b'; } /* '' */
.icon-block:before { content: '\e84c'; } /* '' */
.icon-down-big:before { content: '\e84d'; } /* '' */
.icon-left-big:before { content: '\e84e'; } /* '' */
.icon-right-big:before { content: '\e84f'; } /* '' */
.icon-up-big:before { content: '\e850'; } /* '' */
.icon-credit-card:before { content: '\e851'; } /* '' */
.icon-floppy:before { content: '\e852'; } /* '' */
.icon-play-outline:before { content: '\e853'; } /* '' */
.icon-play:before { content: '\e854'; } /* '' */
.icon-stop-outline:before { content: '\e855'; } /* '' */
.icon-stop:before { content: '\e856'; } /* '' */
.icon-pause-outline:before { content: '\e857'; } /* '' */
.icon-pause:before { content: '\e858'; } /* '' */
.icon-fast-fw-outline:before { content: '\e859'; } /* '' */
.icon-fast-fw:before { content: '\e85a'; } /* '' */
.icon-rewind-outline:before { content: '\e85b'; } /* '' */
.icon-rewind:before { content: '\e85c'; } /* '' */
.icon-record-outline:before { content: '\e85d'; } /* '' */
.icon-record:before { content: '\e85e'; } /* '' */
.icon-eject-alt-outline:before { content: '\e85f'; } /* '' */
.icon-eject-alt:before { content: '\e860'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-pinterest-circled:before { content: '\f0d2'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-quote-left:before { content: '\f10d'; } /* '' */
.icon-quote-right:before { content: '\f10e'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-frown:before { content: '\f119'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-mute:before { content: '\f131'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-dropbox:before { content: '\f16b'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-adn:before { content: '\f170'; } /* '' */
.icon-tumblr:before { content: '\f173'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-dribbble:before { content: '\f17d'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-foursquare:before { content: '\f180'; } /* '' */
.icon-trello:before { content: '\f181'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-vimeo-squared:before { content: '\f194'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-wordpress:before { content: '\f19a'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-behance-squared:before { content: '\f1b5'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-steam-squared:before { content: '\f1b7'; } /* '' */
.icon-spotify:before { content: '\f1bc'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-file-excel:before { content: '\f1c3'; } /* '' */
.icon-file-powerpoint:before { content: '\f1c4'; } /* '' */
.icon-file-image:before { content: '\f1c5'; } /* '' */
.icon-file-archive:before { content: '\f1c6'; } /* '' */
.icon-file-audio:before { content: '\f1c7'; } /* '' */
.icon-file-video:before { content: '\f1c8'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-git:before { content: '\f1d3'; } /* '' */
.icon-hacker-news:before { content: '\f1d4'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-twitch:before { content: '\f1e8'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-gwallet:before { content: '\f1ee'; } /* '' */
.icon-cc-visa:before { content: '\f1f0'; } /* '' */
.icon-cc-mastercard:before { content: '\f1f1'; } /* '' */
.icon-cc-discover:before { content: '\f1f2'; } /* '' */
.icon-cc-amex:before { content: '\f1f3'; } /* '' */
.icon-cc-paypal:before { content: '\f1f4'; } /* '' */
.icon-cc-stripe:before { content: '\f1f5'; } /* '' */
.icon-bell-off:before { content: '\f1f6'; } /* '' */
.icon-bell-off-empty:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-angellist:before { content: '\f209'; } /* '' */
.icon-cc:before { content: '\f20a'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-pinterest:before { content: '\f231'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-y-combinator:before { content: '\f23b'; } /* '' */
.icon-i-cursor:before { content: '\f246'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-creative-commons:before { content: '\f25e'; } /* '' */
.icon-tripadvisor:before { content: '\f262'; } /* '' */
.icon-get-pocket:before { content: '\f265'; } /* '' */
.icon-chrome-1:before { content: '\f268'; } /* '' */
.icon-firefox-1:before { content: '\f269'; } /* '' */
.icon-internet-explorer:before { content: '\f26b'; } /* '' */
.icon-500px:before { content: '\f26e'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-commenting-o:before { content: '\f27b'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
.icon-edge:before { content: '\f282'; } /* '' */
.icon-pause-circle:before { content: '\f28b'; } /* '' */
.icon-pause-circle-o:before { content: '\f28c'; } /* '' */
.icon-stop-circle:before { content: '\f28d'; } /* '' */
.icon-stop-circle-o:before { content: '\f28e'; } /* '' */
.icon-hashtag:before { content: '\f292'; } /* '' */
.icon-bluetooth:before { content: '\f293'; } /* '' */
.icon-universal-access:before { content: '\f29a'; } /* '' */
.icon-address-book:before { content: '\f2b9'; } /* '' */
.icon-address-book-o:before { content: '\f2ba'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-address-card-o:before { content: '\f2bc'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-quora:before { content: '\f2c4'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-meetup:before { content: '\f2e0'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */